.container {
    display: flex;
    background-color: #f8f9fa;
  }
  
  .menu {
    flex: 1;
    background-color: var(--bgSoft);
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  }
  
  .content {
    flex: 4;
    padding: 20px;
  }
  
  .wrapper {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
  
  .main {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .cards {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }
  
  .side {
    flex: 1;
  }
  
  .statistics {
    display: flex;
    gap: 1rem;
    align-items: stretch;
  }
  
  .graph, .chart {
    padding: 1rem;
    background-color: var(--dashboardcolor);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }
  
  .graph {
    flex: 2;
  }
  
  .chart {
    flex: 1;
  }
  
  .pageTitle {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .sectionTitle {
    font-size: 18px;
    color: #555;
    margin-bottom: 15px;
  }
  
  .transactions {
    background-color: var(--dashboardcolor);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }
  
  @media (max-width: 1024px) {
    .cards {
      flex-wrap: wrap;
    }
  
    .statistics {
      flex-direction: column;
    }
  
    .graph, .chart {
      width: 100%;
    }
  }