.container {
    padding: 20px;
    border-radius: 10px;
    background-color: #FFFFFF;
  }
  
  .form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .inputGroup {
    width: 45%;
    margin-bottom: 20px;
  }
  
  .form label {
    display: block;
    margin-bottom: 5px;
    color: var(--text);
  }
  
  .form input,
  .form select {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    color: var(--text);
    border: 2px solid #2e374a;
    border-radius: 5px;
  }
  
  .form option {
    color: rgb(22, 19, 19);
  }
  
  .buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .form button {
    width: auto;
    padding: 10px 50px 10px 50px;
    background-color: yellow;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
  }